@font-face {
  font-family: "roboto";
  src: url('font/Roboto-Regular.ttf');
}

.content {
  margin:auto auto;
  width: 210mm;
  height:297mm;
}

.img-container {
  position:absolute;
  bottom:0;
}

.icon {
	max-height: 17mm;
	position: absolute;
	bottom: 0;
	right: 24mm;
	margin: 4mm;
}

.card {
  width: 95mm;
  height: 61mm;
  position:relative;
  display: inline-block;
  /*background-image: url("img/img.jpg");
  background-position: right bottom;
  background-size: cover;*/
  border-right: 1px solid black;
  border-color: black;
  overflow: hidden;
}

.container {
  border: 1px solid black;
  border-color: black;
  margin-top: 3mm;
  display: inline-block;

}
.text-container {
  margin-left: 6mm;
  margin-top: 10mm;
}
.text {
  color: black;
  font-family: "roboto";
  font-weight: bolder;
}

.name {
	font-size: 9mm;
	font-style: italic;
	color: gray;
	margin-right: 1mm;
}

.country {
  font-size: 8mm;
}

.team {
	/* margin-top: 8mm; */
	font-size: 6mm;
	font-weight: normal;
	/* font-style: italic; */
	color: grey;
	position: absolute;
	bottom: 9mm;
}

.back-img {
	max-height: 36%;
	width: auto;
	z-index: -10;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 6mm;
}
